

.links line {
  stroke:white;
  stroke-opacity: 0.6
}
 
svg{
  background-color:black;
  -webkit-box-shadow:  0 0 10px #000000;
}
 
.card{
  margin:0 auto;
  width:1200px;
  
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  
}

.card-block{
  
}